// global variable
$red : #EC3135;
$light-gray : #F3F3F3;
$lighter-gray : #FBFBFD;
$dark-gray : #666666;
$gray : #939393;
$blue : #43B3E9;
$violet : #B8A7EB;
$green : #94D569;

// global style
body {
    font-family: 'Roboto', sans-serif;
}

// calendar styles
.top-header {
    background: $light-gray;
    padding-top: 15px;
    padding-bottom : 15px;

    p {
        color: $gray;
        margin-bottom : 0;
    }

    .miles-num {
        width : 50px;
        height : 50px;
        background : url('../img/c-b-border.svg');
        background-size : 100%;
        text-align: center;
        line-height: 2;
        position : relative;
        margin-left : auto;
        margin-right : auto;
        font-size : 25px;
        color : #FDC871;
        font-weight: 600;

        .miles-badge {
            background-color : $red;
            border-radius : 100%;
            position : absolute;
            top : -6px;
            right : -6px;
            padding : 5px;
            line-height: .95;
            width  : 20px;
            height: 20px;
            color : white;
            font-size : 12px;
        }
    }

    .calendar-view {
        list-style: none;
        border-left : 1px solid $gray;
        margin-top : 10px;
        margin-left : 15px;
        margin-bottom : 0;
        padding-left : 15px;
        padding-top : 10px;
        padding-bottom : 10px;
        li {
            display: inline-table;
            
            a {
                text-align : center;
                display: block;
                color : $gray;
                
                svg {
                    width : 30px;
                    height : 30px;
                }

                small {
                    display : block;
                }

                &.active {
                    color : $blue;
                }
            }

           
            &:nth-child(even) {
                margin-left : 15px;
                margin-right : 15px;
            }
        
        }
    }

    .calendar-months {
        position: relative;
        overflow: hidden;
        margin : auto;

        .calendar-control {
            position: absolute;
            top : 50%;
            transform: translateY(-50%);
            color : $gray;
            font-size : 25px;
            z-index: 100;
            padding : 15px;

            &:hover {
                color : $blue;
            }
            &.c-right {
                right  : 0;
            }
        }

        .calendar-month-wrapper {
            max-width: 250px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin: auto;

            @media (min-width : 768px) {
                max-width: 500px;
            }

            @media (min-width : 1024px) {
                max-width: 800px;
            }

            .calendar-monts-container {
                list-style: none;
                position: relative;
                height: 50px;
                padding : 10px 0;
                transition: transform 250ms ease-in;
                
    
                li {
                    position: absolute;
                    width : 100px;
                    padding : 0 15px;
                    text-align: center;
                    line-height: 3;
                    color : $gray;

                    &:nth-child(odd) {
                        border-right : 1px solid $gray;
                    }

                    &.calendar-monts-active {
                        span {
                            background : $blue;
                            color : white;
                            border-radius: 50%;
                            width : 50px;
                            height: 50px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.calendar-body {
    .bottom-header {
        background : $lighter-gray;
        display: flex;
        justify-content: center;
        padding : 15px 0;
        .day {
            list-style: none;
            padding : 0;
            margin-bottom : 0;
            li {
                display: inline-block;
                color : $gray;
                padding : 0 5px;
                width : 42px;
                text-transform: uppercase;

                @media (min-width : 375px) {
                    width : 50px;
                }

                @media (min-width : 768px) {
                    width : 75px;
                }
            }
        }
    }

    .table {
        display: flex;
        justify-content: center;

        td {
            width: 42px;
            border :0;
            text-align: center;
            font-size: 25px;
            color : $gray;
            
            @media (min-width : 375px) {
                width : 50px;
            }

            @media (min-width : 768px) {
                width : 75px;
            }

            &.currentdate {
                background : url(../img/c-b-c-border.svg);
                background-size: 95%;
                background-repeat: no-repeat;
                background-position: center;

                @media (min-width : 768px) {
                    background-size : 60%;
                }
                color : white;
            }

            &.bookeddate {
                background : url(../img/c-g-r-border.svg);
                background-size: 95%;
                background-repeat: no-repeat;
                background-position: center;

                @media (min-width : 768px) {
                    background-size : 60%;
                }
            }

            &.blockdate {
                background : url(../img/c-g-b-border.svg);
                background-size: 95%;
                background-repeat: no-repeat;
                background-position: center;

                @media (min-width : 768px) {
                    background-size : 60%;
                }
                color : white;
            }
        }
    }

    .calendtar-control-view {
        display: block;
        text-align: center;
        color : $gray;
        margin : 15px 0;
       
    }
}

.time-schedule {
    ul {
        list-style: none;
        li {
            padding : 10px 0;
            border-bottom : 1px solid $light-gray;
            color : $gray;
            height: 35px;
            position : relative;
            font-size : 12px;
           

            .scheduled {
                width : 70px;
                color : white;
                display: block;
                position : absolute;
                padding : 5px;
                font-size : 10px;

                p {
                    display: block;
                    margin-bottom : 3px;
                    .fas { 
                        margin-right : 5px;
                    }
                }
                
                &.sc-1 {
                    background: $violet;
                    top : 0;
                    left : 70px;
                    height: 70px;
                }

                &.sc-2 {
                    background: $blue;
                    top : 0;
                    left : 70px;
                    height: 35px;
                }

                &.sc-3 {
                    background: $green;
                    bottom : 0;
                    left : 145px;
                    height: 50px;
                }
            }
        }
    }
   
}

.chart-wrapper {
    margin-top : 30px;

    .chart {
        display: table;
        margin-left: auto;
        margin-right: auto;
        
        @media (min-width : 768px) {
            margin-left : 0;
        }
    }

    .label {
        margin-top : 30px;

        @media (min-width : 768px) {
            display : table;
            margin-left : auto;
        }

        h3 {
            font-size : 15px;
            font-weight: 500;
            color : $gray;
        }

        ul {
            list-style: none;
            padding-left : 0;
            li {
                font-size : 12px;
                color : $gray;
                .box {
                    width : 10px;
                    height: 10px;
                    display: inline-block;

                    &.green {
                        background : $green;
                    }

                    &.gray {
                        background : $gray;
                    }

                    &.red {
                        background : $red;
                    }

                    &.blue {
                        background : $blue;
                    }
                }
            }
        }
    }
}