body {
  font-family: 'Roboto', sans-serif;
}

.top-header {
  background: #F3F3F3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-header p {
  color: #939393;
  margin-bottom: 0;
}

.top-header .miles-num {
  width: 50px;
  height: 50px;
  background: url("../img/c-b-border.svg");
  background-size: 100%;
  text-align: center;
  line-height: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  color: #FDC871;
  font-weight: 600;
}

.top-header .miles-num .miles-badge {
  background-color: #EC3135;
  border-radius: 100%;
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 5px;
  line-height: .95;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
}

.top-header .calendar-view {
  list-style: none;
  border-left: 1px solid #939393;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-header .calendar-view li {
  display: inline-table;
}

.top-header .calendar-view li a {
  text-align: center;
  display: block;
  color: #939393;
}

.top-header .calendar-view li a svg {
  width: 30px;
  height: 30px;
}

.top-header .calendar-view li a small {
  display: block;
}

.top-header .calendar-view li a.active {
  color: #43B3E9;
}

.top-header .calendar-view li:nth-child(even) {
  margin-left: 15px;
  margin-right: 15px;
}

.top-header .calendar-months {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.top-header .calendar-months .calendar-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #939393;
  font-size: 25px;
  z-index: 100;
  padding: 15px;
}

.top-header .calendar-months .calendar-control:hover {
  color: #43B3E9;
}

.top-header .calendar-months .calendar-control.c-right {
  right: 0;
}

.top-header .calendar-months .calendar-month-wrapper {
  max-width: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media (min-width: 768px) {
  .top-header .calendar-months .calendar-month-wrapper {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .top-header .calendar-months .calendar-month-wrapper {
    max-width: 800px;
  }
}

.top-header .calendar-months .calendar-month-wrapper .calendar-monts-container {
  list-style: none;
  position: relative;
  height: 50px;
  padding: 10px 0;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.top-header .calendar-months .calendar-month-wrapper .calendar-monts-container li {
  position: absolute;
  width: 100px;
  padding: 0 15px;
  text-align: center;
  line-height: 3;
  color: #939393;
}

.top-header .calendar-months .calendar-month-wrapper .calendar-monts-container li:nth-child(odd) {
  border-right: 1px solid #939393;
}

.top-header .calendar-months .calendar-month-wrapper .calendar-monts-container li.calendar-monts-active span {
  background: #43B3E9;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
}

.calendar-body .bottom-header {
  background: #FBFBFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.calendar-body .bottom-header .day {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.calendar-body .bottom-header .day li {
  display: inline-block;
  color: #939393;
  padding: 0 5px;
  width: 42px;
  text-transform: uppercase;
}

@media (min-width: 375px) {
  .calendar-body .bottom-header .day li {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .calendar-body .bottom-header .day li {
    width: 75px;
  }
}

.calendar-body .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-body .table td {
  width: 42px;
  border: 0;
  text-align: center;
  font-size: 25px;
  color: #939393;
}

@media (min-width: 375px) {
  .calendar-body .table td {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .calendar-body .table td {
    width: 75px;
  }
}

.calendar-body .table td.currentdate {
  background: url(../img/c-b-c-border.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

@media (min-width: 768px) {
  .calendar-body .table td.currentdate {
    background-size: 60%;
  }
}

.calendar-body .table td.bookeddate {
  background: url(../img/c-g-r-border.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .calendar-body .table td.bookeddate {
    background-size: 60%;
  }
}

.calendar-body .table td.blockdate {
  background: url(../img/c-g-b-border.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

@media (min-width: 768px) {
  .calendar-body .table td.blockdate {
    background-size: 60%;
  }
}

.calendar-body .calendtar-control-view {
  display: block;
  text-align: center;
  color: #939393;
  margin: 15px 0;
}

.time-schedule ul {
  list-style: none;
}

.time-schedule ul li {
  padding: 10px 0;
  border-bottom: 1px solid #F3F3F3;
  color: #939393;
  height: 35px;
  position: relative;
  font-size: 12px;
}

.time-schedule ul li .scheduled {
  width: 70px;
  color: white;
  display: block;
  position: absolute;
  padding: 5px;
  font-size: 10px;
}

.time-schedule ul li .scheduled p {
  display: block;
  margin-bottom: 3px;
}

.time-schedule ul li .scheduled p .fas {
  margin-right: 5px;
}

.time-schedule ul li .scheduled.sc-1 {
  background: #B8A7EB;
  top: 0;
  left: 70px;
  height: 70px;
}

.time-schedule ul li .scheduled.sc-2 {
  background: #43B3E9;
  top: 0;
  left: 70px;
  height: 35px;
}

.time-schedule ul li .scheduled.sc-3 {
  background: #94D569;
  bottom: 0;
  left: 145px;
  height: 50px;
}

.chart-wrapper {
  margin-top: 30px;
}

.chart-wrapper .chart {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .chart-wrapper .chart {
    margin-left: 0;
  }
}

.chart-wrapper .label {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .chart-wrapper .label {
    display: table;
    margin-left: auto;
  }
}

.chart-wrapper .label h3 {
  font-size: 15px;
  font-weight: 500;
  color: #939393;
}

.chart-wrapper .label ul {
  list-style: none;
  padding-left: 0;
}

.chart-wrapper .label ul li {
  font-size: 12px;
  color: #939393;
}

.chart-wrapper .label ul li .box {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.chart-wrapper .label ul li .box.green {
  background: #94D569;
}

.chart-wrapper .label ul li .box.gray {
  background: #939393;
}

.chart-wrapper .label ul li .box.red {
  background: #EC3135;
}

.chart-wrapper .label ul li .box.blue {
  background: #43B3E9;
}
/*# sourceMappingURL=style.css.map */